/*HOME*/

body {
	font-family: 'Roboto Slab', serif;
	background-color: #F2F2F2;
}

header {
	background-color: #FFFFFF;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-right: 60px;
}


.navbarlist {
	float: left;
}

.navbarlist a {
	display: block;
	padding: 10px;
	color: #333333;
	text-align: center;
	text-decoration: none;
}

.navbarlist a:hover {
	background-color: #333333;
	color: #FFFFFF;
}

#home {
	width: 100%;
	text-align: center;
	background-color: #c0a478;
	margin-top: 75px;
	color: #FDF8EE;
	display: inline-grid;
	grid-template-columns: 60% 40%;
}

#home h1 {
	font-size: 90px;
	text-align: center;
	letter-spacing: 7px;
	font-weight: lighter;
	padding-left: 40px;
}

#home img {
	padding-top: 50px;
	padding-left: 0px;
	align-items: left;
}

#contact,
#order,
#about {
	padding: 50px;
	text-align: justify;

}

#menu {
	margin: 100px;
	align-items: center;
}

#menu img {
	align-items: center;
}

/*background-color: #c0a478;*/

/*ABOUT*/

#aboutpage {
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px;
	height: 400px;
	line-height: 2;
	overflow: auto;
}

#aboutpage img {
	float: right;
	width: 30%;
	border-radius: 50%;
	margin-left: 50px;
	margin-bottom: 50px;
}

#orderform {
	margin: 50px;
}

#contactform {
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px;
	height: 500px;
	overflow: scroll;
	line-height: 2;
}

#contactformtext {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contactform img {
	float: left;
	width: 35%;
	border-radius: 50%;
	margin-right: 50px;
}
.container {
	display: flex;
	align-items: center;
	max-width: 80%;
	flex-wrap: nowrap;
}

.image {
	width: 25%;
	margin: 0px;
}

footer {
	text-align: center;
	overflow: hidden;
	margin: 0;

}

.social-links {
	display: flex;
	justify-content: right;
}

.social-link {
	margin: 10px;
	font-size: 24px;
	color: #000000;
	text-decoration: none;
}

.social-link:hover {
	color: #3b5998;
	/* Facebook blue */
}

.instagram-link:hover {
	color: #c13584;
	/* Instagram pink */
}

#about {
	background-color: white;
	padding-top: 12px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	height: 400px;
	overflow: auto;
	line-height: 2;
}

#about img {
	float: left;
	width: 25%;
	border-radius: 50%;
	margin-right: 30px;
}

h1 {
	font-size: 30px;
}

#contact {
	background-color: white;
	padding-top: 12px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	height: 450px;
	overflow: auto;
	line-height: 2;
}

#contact img {
	float: right;
	width: 25%;
	border-radius: 50%;
	margin-left: 30px;
}

#order {
	background-color: white;
	padding-top: 12px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	height: 450px;
	overflow: scroll;
	line-height: 2;
}

#order img {
	float: left;
	width: 25%;
	border-radius: 50%;
	margin-right: 30px;
	margin-bottom: 30px;
}


.button {
	background-color: #c0a478;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5%;
}

.button:hover {
	background-color: #a58d66;
	color: white;
}



.dropdown-check-list {
	display: inline-block;
}

.dropdown-check-list .anchor {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 50px 5px 10px;
	border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 10px;
	top: 20%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
	right: 8px;
	top: 21%;
}

.dropdown-check-list ul.items {
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}

.dropdown-check-list ul.items li {
	list-style: none;
}

.dropdown-check-list.visible .anchor {
	color: #0094ff;
}

.dropdown-check-list.visible .items {
	display: block;
}

#orderform {
	margin: 100px;
	background-color: white;
	padding: 25px;
}

#orderform h1 {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	background-color: #a58d66;
	width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;
}

#cookies,
#flavored-rolls {
	font-family: 'Roboto Slab', serif;
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 50px 5px 10px;
	border: 1px solid #ccc;
}

#date {
	font-family: 'Roboto Slab', serif;
}

#ordernow {
	display: flex;
	align-content: center;
	
}

.rolls {
	display: flex;
	flex-wrap: wrap;
}

.cookies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rolls div {
	margin: 30px;
}

.cookies div {
	margin: 30px;
}

#orderbody {
	margin: 100px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	background-color: white;
}

.message {
	height: 100px;
}

#amount {
	font-family: 'Roboto Slab', serif;
}


.center {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.catering {
	background-color: white;
	padding-top: 12px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px;
	height: 500px;
	overflow: auto;
	line-height: 2;
}

.catering img {
	float: right;
	width: 25%;
	border-radius: 50%;
	margin-left: 30px;
}

.container h1 {
	margin-right: 250px;
	margin-left: 250px;
}

.orderhere {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	padding-top: 12px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

#bakinginstructions {
	background-color: white;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px;
	height: 900px;
	overflow: auto;
	line-height: 2;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
}

#bakinginstructions img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#bakinginstructions h1, h2 {
	text-align: center;
	line-height: 1;
}
